/*body {
	overflow:hidden; margin: -0px; 
	background-image: url(../img/bg.jpg); 
	font-size: 16px;
}

h1 {font-size: 48px;
	font-family: 'Open Sans';
	text-shadow: 0px 2px 2px #fff;
	color: #2c2b2b;
	margin: 0px;
}


h2 {font-size: 24px;
	font-family: 'Open Sans';
	text-shadow: 0px 2px 2px #fff;
	color: #2c2b2b;
	margin: 0px;
}


.homeRibbon
	{
		position:absolute; 
	}


.existingCustomerBox
	{
		position: absolute; 
		border-style: solid; 
		border-width: 1px; 
		border-radius: 10px; 
		border-color: #888;
		margin-left: 4.5833333333333%;
		top: 88px;
		padding: 30px;
		height: 700px;
		z-index: 0;
	}


.fullName
	{
		position: absolute;
		border-style: solid;
		border-width: 1px;
		border-color: #888;
		border-radius: 4px;
		background-color: #f5f5f5;
		box-shadow: 0px 2px 0px 0px #fff;
		padding-left: 80px;
		height: auto;
		padding-bottom: 2%;
		border-radius: 4px;
		z-index: 1;
	 }


.nameImg
	{
		position: relative;
		left: 0;
		padding: 20px;
		z-index: 1;
	}

.boxTitle
	{
		position: relative;
	}




*/


::-webkit-input-placeholder 
			{
			   font-family: 'Open Sans';
			   font-weight: 300; 
			   font-size: 1.2rem;
			   text-indent: 45px;
			}

			body 
			{
				overflow:hidden; margin: -0px; 
				background-image: url(../img/bg.jpg); 
				font-size: 16px;
			}


			h1 
			{
				font-size: 1.6rem;
				font-family: 'Open Sans';
				font-weight: 800;
				text-shadow: 0px 2px 2px #fff;
				color: #2c2b2b;
				margin: 0px;
			}


			h2 
			{
				font-size: 0.8rem;
				font-family: 'Open Sans';
				font-weight: 600;
				text-shadow: 0px 2px 2px #fff;
				color: #2c2b2b;
				margin: 0px;
			}


			.homeRibbon
			{
				position:absolute; 
			}


			.existingCustomerBox
			{
				position: absolute; 
				border-style: solid; 
				border-width: 1px; 
				border-radius: 10px; 
				border-color: #888;
				margin-top: 3.515625%;
				margin-left: 4.5833333333333%;
				padding-left: 3%;
				height: 360px;
				z-index: 0;
			}


			.boxTitle
			{
				position: absolute;
				margin-top: 4.3875%;
			}


			.fullName
			{
				position: absolute;
				border-style: solid;
				border-width: 1px;
				border-color: #888;
				border-radius: 4px;
				background-color: #f5f5f5;
				box-shadow: 0px 2px 0px 0px #fff;
				margin-top: 10.44921875%;
				z-index: 1;
				height: 39px;
				font-size: 1.2rem;
				vertical-align: middle;
				line-height: 1.8;
				text-indent: 45px;
			 }


			 .fnameImg
			{
				position: absolute;
				margin-top: 10.44921875%;
				z-index: 1;
				width: 1.5rem;
				padding:8px;
			 }


			.phoneNum
			{
				position: absolute;
				border-style: solid;
				border-width: 1px;
				border-color: #888;
				border-radius: 4px;
				background-color: #f5f5f5;
				box-shadow: 0px 2px 0px 0px #fff;
				margin-top: 16.50390625%;
				z-index: 1;
				height: 39px;
				font-size: 1.2rem;
				vertical-align: middle;
				line-height: 1.8;
				text-indent: 45px;
			}


			.numImg
			{
				position: absolute;
				margin-top: 16.6%;
				z-index: 1;
				width: 1.5rem;
				padding:8px;
			}

		
			.email
			{
				position: absolute;
				border-style: solid;
				border-width: 1px;
				border-color: #888;
				border-radius: 4px;
				background-color: #f5f5f5;
				box-shadow: 0px 2px 0px 0px #fff;
				margin-top: 22.55859375%;
				z-index: 1;
				height: 39px;
				font-size: 1.2rem;
				vertical-align: middle;
				line-height: 1.8;
				text-indent: 45px;
			}

			.emailImg
			{
				position: absolute;
				margin-top: 22.7%;
				z-index: 1;
				width: 1.5rem;
				padding:8px;
			}
		

			.searchButton
			{
				position: absolute;
				margin-top:26.59375%;
				content: url(../img/buttons/btnSmall_default.png);
				/*content:url("http://imgur.com/SZ8Cm.jpg");*/
			}

			.searchButton:active  
			{ 
				position: absolute;
				margin-top:26.59375%;
				content: url(../img/buttons/btnSmall_onclick.png);
			} 


			.searchText
			{
				position: absolute;
				margin-top: 26.59375%;
				color: #919191;
				padding-left: 5%;
				padding-top: 3.5%;
				font-size: 1.7rem;
				font-family: 'Open Sans';
				font-weight: 800;
				pointer-events:none;
			}

			.searchText:before, .searchText:after
			{
			    font-size: 1.7rem;
				content: attr(title);
				margin-left: 33.5%;
				margin-top: 24.5%;
				color: #f2f2f2;
				position: absolute;
			}


			.searchText:before { top: 1px; left: 1px }
			.searchText:after  { top: 1px; left: 1px }


			.searchImg
			{
				position: absolute;
				margin-top: 31%;
				pointer-events:none;
			}

			.newCustomerButton
			{
				position: absolute;
				margin-top:44.921875%;
				content: url(../img/buttons/btnSmall_default.png);
			}

			.newCustomerButton:active  
			{ 
				position: absolute;
				margin-top:44.921875%;
				content: url(../img/buttons/btnSmall_onclick.png);
			} 

			.newCustomerText
			{
				position: absolute;
				margin-top: 45.2%;
				color: #919191;
				padding-left: 5%;
				padding-top: 3.5%;
				font-size: 1.6rem;
				font-family: 'Open Sans';
				font-weight: 800;
				pointer-events:none;
			}

			.newCustomerText:before, .newCustomerText:after
			{
				font-size: 1.6rem;
				content: attr(title);
				color: #f2f2f2;
				position: absolute;
				margin-left: 19.9%;
				margin-top: 14.5%;
			}

			.newCustomerText:before { top: 1px; left: 1px }
			.newCustomerText:after  { top: 1px; left: 1px }

			.newCustomerImg
			{
				position: absolute;
				margin-top: 49.5%;
				pointer-events:none;
			}

			.ortext
			{
				font-family: Abril Fatface;
				font-size: 2rem;
				position: absolute;
				display: inline-block;
				margin-top: 40%;
			}